.Navbar {
    display: flex;
    justify-content: space-around;
    background-color: #55bcc9;
    padding: 30px;
}

.Navbar a {
    color: cornsilk;
    transition: all 200ms ease-in;
}

.Navbar a:hover {
    transform: scale(0.95);
    color: black;
}

.Navbar a.active {
    color: white;
    text-decoration: underline;
}

.nav-link {
    color: white;
}
